@model SIAA.asesoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>asesoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CicloEscolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CicloEscolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asesor.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asesor.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_horario.Dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_horario.Dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_lugar.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_lugar.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_unidad_aprendizaje.NombreUnidadAprendizaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_unidad_aprendizaje.NombreUnidadAprendizaje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAsesoria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
