@model SIAA.asesoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>asesoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Asesoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asesor.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asesor.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materia.nombreMateria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materia.nombreMateria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ModificaAsesoria", new { id = Model.idasesoria }) |
    @Html.ActionLink("Back to List", "ConsultaAsesoria")
</p>
