@model IEnumerable<SIAA.alumno>

@{
    Layout = "~/Views/Shared/Layout_Encargado.cshtml";
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/Content/Consultas.css">
    <script src="~/Scripts/Consultas.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/busquedas.js"></script>
    <script src="~/Scripts/Modifica.js"></script>
</head>


<body>
    <div class="container" style="margin-right: 6cm;">
        <!--INICIO DE TABS -->
        <div class="card-body">
            <ul class="nav nav-tabs pestania">
                <li class="nav-item">
                    <a class="nav-link" onclick="openTab('registro')" href="@Url.Action("RegistraAlumnoAsesor", "alumno")">Registro Alumnos Asesores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="openTab('consultaA')" href="@Url.Action("ConsultaAsesor", "asesor")">Consulta Asesores</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" onclick="openTab('consulta')" href="@Url.Action("ConsultaAlumno", "alumno")">Consulta Alumno</a>
                </li>

            </ul>
        </div>
        <!--FIN DE TABS -->

        <div class="tab-pane" id="consulta" role="tabpanel" aria-labelledby="consulta-tab">
            <h2><b>CONSULTA DE ALUMNOS</b></h2>
            <hr />

            <div class="search-container">
                <input class="form-control" id="myInput" type="text" placeholder="Buscar.." onkeyup="filtrarTabla()">
            </div>

            <table id="tabla" class="table table-striped" style="width: 130%">
                <thead class="encabezado">
                    <tr>
                    <tr>
                        <th>MATRÍCULA </th>
                        <th>NOMBRE</th>
                        <th>CORREO</th>
                        <th>ESTATUS</th>
                        <th>PROGRAMA EDUCATIVO</th>
                        <th> TIPO USUARIO </th>
                        <th>ASESORÍAS ASIGNADAS</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody id="myTable" class="searchable-table">
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdAlumno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.usuario.ApellidoPaterno)
                                @Html.DisplayFor(modelItem => item.usuario.ApellidoMaterno)
                                @Html.DisplayFor(modelItem => item.usuario.Nombre)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.usuario.Correo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.usuario.cat_estatus.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.usuario.cat_programa_educativo.NombreProgramaEducativo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.usuario.cat_tipo_usuario.NombreUsuario)
                            </td>
                            <td>
                                Sin asesoría
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#myModal" onclick="mostrarModal('@Url.Action("ModificaAlumno", "alumno", new { id = item.IdAlumno })')" class="btn btn-warning glyphicon glyphicon-edit"></a>
                            </td>
                            <td>

                                @Html.ActionLink(" ", "EliminaAlumno", new { id = item.IdAlumno }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                            </td>
                        </tr>
                    </tbody>
                }

            </table>

            <div class="paginacion">
                <ul class="pagination pull-right">
                    @if (ViewBag.PaginaActual > 1)
                    {
                        <li><a href="@Url.Action("ConsultaAlumno", new { pagina = ViewBag.PaginaActual - 1 })">&laquo;</a></li>
                    }
                    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
                    {
                        <li class="@(ViewBag.PaginaActual == i ? "active" : "")"><a href="@Url.Action("ConsultaAlumno", new { pagina = i })">@i</a></li>
                    }
                    @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
                    {
                        <li><a href="@Url.Action("ConsultaAlumno", new { pagina = ViewBag.PaginaActual + 1 })">&raquo;</a></li>
                    }
                </ul>
            </div>
        </div>
        <!-- Modal de edición -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body" id="modalContent">
                        <!-- Contenido de edición se cargará aquí -->
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/menuConsultaAsesores.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </div>
</body>
   